{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('bundles/app/css/style.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/app/css/style.css.map')}}">
{% endblock %}
{% block body %}
    <div class="container-fluid">
    	<div class="row">
    		<section class="top">
    			<img src="{{asset('bundles/app/images/primera.jpg')}}" alt="Sabri y Alexis">
    			<div class="row contCount">
    				<div class="col-md-12">
    					<div class="row">
    						<div class="col-md-5">
    							<p class="titleCount">Vení a festejar con nosotros, solo falta...</p>
    						</div>
    						<div class="col-md-7">
								<div id="countdown"></div><!-- /#Countdown Div -->
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="welcome col-md-3">
	    			<div class="row">
	    				<div class="sya col-md-12">
	    					<p>Sabri y Alexis</p>
	    				</div>
	    				<div class="invitacion col-md-12">
	    					<p>Hola Sol y Fer <br> queremos invitarlos a <span>¡nuestro casamiento!</span></p>
	    				</div>
	    				<div class="ctaConfirm col-md-12">
	    					<a href="#" class="col-md-6 col-md-offset-3 text-center">
	    						¿Confirman asistencia?
	    					</a>
	    				</div>
						<a href="" class="down col-md-12 text-center"><span class="glyphicon glyphicon-menu-down"></span></a>
	    			</div>
    			</div>
    		</section>
    		<section class="menu container">
    			<div class="row">
    				<div class="col-md-4">
    					<a href="#">
	    					<p class="title col-sm-12 text-center">La Iglesia</p>
	    					<img src="{{asset('bundles/app/images/menu01.png')}}" alt="">
    					</a>
    				</div>
    				<div class="col-md-4">
    					<a href="#">
	    					<p class="title col-sm-12 text-center">La Fiesta</p>
	    					<img src="{{asset('bundles/app/images/menu02.png')}}" alt="">
    					</a>
    				</div>
    				<div class="col-md-4">
    					<a href="#">
	    					<p class="title col-sm-12 text-center">Regalos</p>
	    					<img src="{{asset('bundles/app/images/menu03.png')}}" alt="">
    					</a>
    				</div>
    			</div>
    		</section>
    		<section class="col-sm-12 ubicaciones">	
				<div class="row">	
					<div class="col-md-6">	
						<h3 class="titile">La Iglesia</h3>
						<div class="info">
							Iglesia San Isidro <br>
							Av. Libertador 1598	<br>
							19.30 hs
						</div>
					</div>
					<div class="col-md-6">	
					
					</div>
				</div>
    		</section>
    	</div>
    </div>
{% endblock %}
{% block javascriptAbajo %}
	<script>	
		// https://codepen.io/Saravanaa/pen/jgmrH
	    // set the date we're counting down to
		var target_date = new Date('Sep, 30, 2017').getTime();
		// variables for time units
		var days, hours, minutes, seconds;
		// get tag element
		var countdown = document.getElementById('countdown');
		// update the tag with id "countdown" every 1 second
		setInterval(function () {
		    // find the amount of "seconds" between now and target
		    var current_date = new Date().getTime();
		    var seconds_left = (target_date - current_date) / 1000;
		 
		    // do some time calculations
		    days = parseInt(seconds_left / 86400);
		    seconds_left = seconds_left % 86400;
		     
		    hours = parseInt(seconds_left / 3600);
		    seconds_left = seconds_left % 3600;
		     
		    minutes = parseInt(seconds_left / 60);
		    seconds = parseInt(seconds_left % 60);
		    // format countdown string + set tag value
		    countdown.innerHTML = 
		    	'<span style="float:left;text-align:center;" class="days">'+ days +
		    		'<b style="font-size:15px;display:block;">días</b></span>'+

		    	'<span style="float:left;text-align:center;" class="hours">' + hours + 
		    		'<b style="font-size:15px;display:block;">horas</b></span>'+

		    	'<span style="float:left;text-align:center;" class="minutes">' + minutes + 
		    		'<b style="font-size:15px;display:block;">minutos</b></span>'+

		    	'<span style="float:left;text-align:center;" class="seconds">' + seconds + 
		    		'<b style="font-size:15px;display:block;">segundos</b></span>';  	 
		}, 1000);
	</script>
{% endblock %}
